*.O
*.o
*.so
*.pyc
*.a
*.elc

*.d
*.bin
*~
#*#

# Packages #
############
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.img
*.bz2
*.tar.*


/bin
/tmp
/lib/str/newlib-*
/lib/str/*.c
/lib/str/*/*.c
/lib/str/*/*.h
